@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 24px;
    }
    .flex-center {
        @apply flex items-center justify-center;
    }
    .fa-center {
        @apply flex items-center;
    }
    .facb {
        @apply flex items-center justify-between;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
body {
    min-height: 100vh;
    font-family: "Mikado", sans-serif;
    background-color: #f49e8a;
}

@font-face {
    font-family: Mikado;
    src: url("./assets/fonts/MikadoBold.woff");
    font-weight: 700;
}
@font-face {
    font-family: Mikado;
    src: url("/assets/fonts/MikadoMedium.woff");
    font-weight: 500;
}
